@tailwind base;
@tailwind components;
@tailwind utilities;

/* #0A0A0A */

body {
  margin: 0;
  font-family: "Poppins", sans-serif; 
  background: #0A0A0A; 
  color: #ffffff;
  height: 100vh;
  
}

body::-webkit-scrollbar {
  width: 8px;
  border: radius 50px;;
}
 
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: rgb(124, 236, 4);
  outline: 1px solid rgb(6, 101, 18);
}

.button {
  background: #32CD32; /* Vibrant Purple Gradient */
  color: white; /* Text color */
  padding: 10px 20px; /* Button size */
  border: none; /* No border */
  border-radius: 8px; /* Rounded corners */
  font-size: 16px; /* Text size */
  font-weight: bold; /* Bold text */
  cursor: pointer; /* Pointer on hover */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth hover effect */
}

button:hover {
  transform: scale(1.1); /* Slight zoom on hover */
  box-shadow: 0 4px 15px rgba(107, 33, 168, 0.5); /* Purple glow on hover */
}
/*  background: linear-gradient(135deg, #6b21a8 0%,  50%, #000000 100%);  */

/* Portfolio Cover Container */
/* .HeroPage {
  text-align: center;
  animation: fadeIn 2s ease-in-out;
} */

/* Name and Title */
/* .name {
  font-size: 3.5rem;
  font-weight: bold;
  letter-spacing: 2px;
  animation: slideDown 1s ease-in-out;
}

.title {
  font-size: 1.5rem;
  margin-top: 10px;
  color: #d1d5db;
  animation: slideDown 1.5s ease-in-out;
} */

/* Tagline */
/* .tagline {
  font-size: 1.2rem;
  margin: 20px 0;
  font-style: italic;
  color: #e2e8f0;
  animation: fadeIn 3s ease-in-out;
} */

/* Contact Info */
/* .contact-info {
  margin-top: 30px;
  font-size: 1rem;
  color: #ffffff;
} */

/* .linkedin-link {
  color: #b3e5fc;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
} */

/* .linkedin-link:hover {
  color: #ffffff;
}  */

/* Footer */


/* Animations */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideDown {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}




